---
layout: default
title: "About"
description: "Hey, 我是天下."
header-img: "img/about-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="height:250px;overflow: hidden;background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Chinese Version -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="zh post-container">
        <blockquote>
            世界那么大，我还在北京。
            转一篇家乡老街的文章，《银北门寻幽》<a href='http://blog.sina.com.cn/s/blog_627f3f570101efgn.html' target="_blank">原文地址</a>
        </blockquote>

        <blockquote>
            <h2>「银北门寻幽」</h2>
        </blockquote>
        <p>
            历史上流金淌银的东门和北门，不但市井繁华、商贸发达，而且人文荟萃、古迹众多，为历史文化名城兴化的形成和发展奠定了坚实基础。</p>
        </p>
        <p>
            <p>如今，“金东门”被钟爱她的专家学者写成华章载入史册，并得到有识之士的保护、开发和利用。</p>
            <p>然而，“银北门”则几乎被人们淡忘了。</p>
            <p>事实上，由上世纪４０年代上溯到宋元时代，“银北门”也和“金东门”一样兴盛，甚至一度胜过后者。</p>
            <p>仅就北城外而言，绵延长达３华里的北城外大街和与之并行的南、北上河边商业街，以及西下河住宅群和水码头 舟楫穿梭的上官河、烟波浩渺的乌巾荡萦绕在东西两侧，更有那众多幽深古巷纵横交错。</p>
            <p>其间，美仑美奂的高宅府第、殿阁巍焕的寺庙祠堂、鳞次栉比的宋、元、明、清民居，以及在里生活和与这里关系密切的杨果、李鱓 、郑板桥、王墨林、赵北晖、房来宾、朱海涛和韫山法师等诗人、书画家、学者、名医、名士、高僧和清官名宦，增添了“银北门”深厚的历史文化底蕴。</p>
            <p>由于历史的变迁，“银北门”的昔日雄风已经消逝，但她至今十分完整的街区和散落其中的历史遗存依然熠熠生辉，保留着当年的风采。</p>
            <p>让我们翻开厚重的历史画册，踏着古老的街巷，去寻觅“银北门”渐渐被人忘却的过去吧！沿着古八字桥北侧北城内大街逶迤而行至北城门口，一段残留于铁匠巷南侧近百米长的明城墙遗存，像一位饱经风霜的老人，在向我们叙说着“银北门”的风采年华。</p>
        </p>
        <p>
            <p>明洪武五年（１３７２年），知县谢修己为使刚建不久的砖城墙更加巍峨壮观，在东西南北四城门上各建一座城楼，并引经据典，为城楼题写嘉名。</p>
            <p>其中，北门为“肇魁门”，意即肇始于主管文运的魁星，以“魁”指北门为四门之首，故有“北门锁钥”之称。</p>
            <p>“肇魁门”上建有以星象命名的重檐飞角的“仰宸楼”（意即仰望宸极，指北极星）。</p>
            <p>倘若沿着城墙拾级登上城楼向西眺望，不远处一座气势非凡依城而建的飞檐翘壁的“海光楼”直扑眼帘。</p>
            <p>向北俯瞰，在繁华似锦的北城外大街和沿着南、北上河筑成的商业街上，商行店铺一家挨着一家；码头边停泊着来自本埠东北乡、西北乡以及盐阜、两淮、鲁南、皖北等地的大小商船，船舷相接，宛如又一幅“清明上河图”。</p>
        </p>
        <p>
            <p>“银北门”商界种类齐全，有７０多个行业，近２００家大小商行店铺、加工厂和手工作坊，其中仅百年老字号就有数十家。</p>
            <p>如绸缎行业中有<span style='color:red'>天成泰</span>、协勤、解裕泰；</p>
            <p>南货行业中有震裕泰、源泰顺、张同成、张谦泰；</p>
            <p>中药业中有大生堂、杏林堂、益善堂；</p>
            <p>茶馆酒楼中有双盛、争春、爱轩、万盛园；</p>
            <p>食品业中有松龄阁、状元斋、晋升号、庆升号；</p>
            <p>苏货业中有周鸿泰、曹鹤记；</p>
            <p>犁木业中有张德昌；</p>
            <p>酱货业中有复隆祥、方乾顺；</p>
            <p>当典业中有万兴大典、聚盛祥钱店。</p>
            <p>此外，铁匠巷内的农具、铁器和补锅，北窑庄的砖瓦，蔡家垛上的藤柳、方机布和皮革制造、干儿包编织（清末民初曾获浙江西湖博览会、江苏物品展览会和美国芝加哥博览会优等奖状），北上河边上的盛记“久余米厂”，南上河边上的木行、渔行、花生行、竹厂，城门口、市河边一带的画匠铺、灯笼店和传承２０多代的黄记泥塑木雕店，以及民国初年兴起的蛋行、蛋厂等。</p>
            <p>这些老字号和特色行业，成为“银北门”保持数百年繁荣兴旺之渊源。</p>
        </p>
        <p>
            <p>从北城门口步入城外大街不远处，便是原轴承厂厂址，这里旧为中国长篇神话小说《封神演义》作者陆西星的家祠——“陆氏宗祠”。家祠为一组三进两厢极富明代祠堂规制格局的建筑群。</p>
            <p>历史上的陆氏家族为“宋元四大家”之一，人丁兴旺，人才辈出。祠内供奉着上百块大小不同的牌位，其中不但有陆氏始迁祖——南宋咸淳年间（１２６５—１２７４年）进士、两淮盐运使陆六二，而且有众多出色的陆氏后裔，如明嘉靖十一年（１５３２年）进士陆期范、名列“辽城汉节”匾额的明代礼部主事陆容、名列“诗画名家”匾额的清代画家陆沧浪、诗人陆震（郑板桥恩师）以及明清时代诗人陆中、陆律、画家陆白义（郑板桥同学挚友）、学者陆廷抡等。</p>
            <p>如今，“陆氏宗祠”虽然毁于上世纪４０年代末，但存留的部分建筑物仍依稀可辨。</p>
            <p>“陆氏宗祠”西侧三阳巷内有一座现存五进的明代建筑群——解学龙、解学曾兄弟府第。</p>
            <p>解学龙（１５８２—１６４５年），字言卿，号石帆，明万历四十一年（１６１３年）进士，历任太子太保、都察院副都御史（都堂）、江西巡抚，反对阉党魏忠贤专政，支持东林党的主张。南明时，官刑部尚书。南明弘光元年（１６４５年）五月初九日，南京城破，投江殉国。著有《五垣谏草》、《抚江奏牍》、《用兵纪》等。</p>
            <p>解学龙胞弟解学曾（１５８８—１６４５年），字省斋，在南明弘光时授行营都司，随同民族英雄史可法坚守扬州，城破后与清兵进行激烈巷战，不幸于弘光元年（１６４５年）四月二十五日殉国。</p>
            <p>清乾隆四十一年（１７６６年），乾隆皇帝为缓和民族矛盾，安抚扬州百姓，在为史可法修建史公祠的同时，追赠解学曾谥号“烈愍公”配祭于史公祠中。</p>
        </p>
        <p>
            <p>由解氏府第向北１００米处为王府巷，巷内至今仍保存一座建筑面积１７０多平方米的王府柏木大厅（部分构件为楠木），是原占地面积近１万平方米王府建筑群中幸免于难的一处。</p>
            <p>主人王志广（约１７０１——１７７１年），字方永，号秋浦，在清乾隆年间（１７３０—１７９５年）授南河漕运（衙署设今江苏淮安）同知，后任广西梧州、柳州知府，官至管辖梧州、柳州二府的苍梧道守道（正四品），诰授中宪大夫，“四牌楼”上悬有旌表他的“粤西召杜”匾额。</p>
            <p>这座建于清乾隆年间的王府柏木大厅，虽经２７０多年的风雨侵蚀，但整个建筑至今不偏不歪，结构十分完整。其古朴典雅的高大外形，简洁明快的雕花门窗，精致美观的牡丹木雕，基本保持当年原貌，具有十分重要的文物保存价值。</p>
        </p>
        <p>
            <p>王府巷东侧为当典巷（古名“薪谷巷”），座落在巷内的建筑面积２７３６平方米的万兴大典（１９５７—１９８７年辟为中共兴化县委党校校址），由王志广于清乾隆年间创建，至上世纪３０年代歇业，经营时间近２００年，共传世六代。</p>
            <p>万兴大典系一组建筑布局合理、结构奇巧、造型独特的建筑楼群，也是用上等杉木、大青砖精工砌成的仓储式两层典当用房。整个建筑共有大小院落７座，大小天井９个，上、下楼房屋６４间，平房１２间。从上往下看，整组建筑恰似３个既重叠又分开的“日”字形上下两层楼群（目前只剩下中楼和西楼）。三座楼之间，既可以上下、前后、左右相互勾通，又可以随时随地关闭或明或暗的通道而独成单元，形成楼串楼、楼连楼，明间与暗室相配套，大室与小室、楼上与楼下互交叉的格局，宛若迷宫，对当物仓储保管的安全、保密作了精心设计。</p>
            <p>２００１年，泰州市文管局专家黄炳煜教授对此建筑群进行了详细的实地考察，认为此建筑群规模大、保存完整，在全省乃至全国古代典当建筑中实属罕见，为学术界论证我国资本主义萌芽早在明、清即产生和发展的学说提供了实物依据，是具有重要的保存、研究、利用的代表性文物。同年，当代著名典当史学者曲彦斌先生在网上撰文盛赞万兴大典，认为比目前尚在经营的世界上最大的墨西哥怜悯山典当行（今为集团公司）历史早、规模大。</p>
        </p>
        <p>
            <p>走出万兴大典，沿大街北行５０米处为百岁坊巷，巷内有一座镶砌在墙体内的石质牌坊——百岁坊。这座石坊是为清代１０３岁刘乾子之妻袁氏及１２０岁的王献远之妻陈氏建立的。如今，该巷就住着一位年近百岁的金老太。看来，百岁坊还是可以保存下去的。</p>
            <p>自百岁坊巷向北，只见一座横跨在东西市河上的北闸桥凸现在眼前。砖木结构的北闸桥长约３０米，东西两侧栏杆旁建有过河楼，是一座名副其实的廊桥。过河楼上设有店铺，别具一格。每当夜幕降临，周围灯火通明，生意兴隆，成为兴化城著名的夜市。</p>
            <p>北闸桥为明洪武七年（１３７４年）知县李叔正在宋代木桥基础上重建，易名“济民桥”，后于十年浩劫中因填河造路而废。桥南壁上至今仍保留清雍正十一年（１７３３年）知县汪芳藻（曾赠金资助郑板桥赴南京考中举人）所立一块字迹十分清晰的修桥石碑，从而成为北闸桥的历史见证。</p>
            <p>过北闸桥，沿着市河边东行不远处，为明代兵部左侍郎魏应嘉五世孙所建的一所宅第，现保存有前后三进清代建筑和一座已经狼败的大门楼以及雕花照壁。魏氏传人魏小竹（名晋卿）是地方名绅，清末为岁贡生，民国时任临时县议会议长，主持兴化政务，曾出资修建四牌楼，并为昭阳书院购置大量藏书。著有《阅藏诗百首》。</p>
            <p>出魏氏宅第西行返回大街，再北行数十米，便是始建于清乾隆十七年（１７５２年）的“北普济堂”（１９０４年改建学校，即今城北小学）。清光绪二十年（１８９４年），董理该堂的魏小竹建筑了亭台、荷池、“数帆轩”、花圃、“丛桂留人厅”等园林景观，并手植了一株女贞树。</p>
            <p>目前，女贞树已有近１１０年历史，仍然枝繁叶茂，成为兴化城的古树名木。“北普济堂”北侧为“观音阁”（清光绪皇帝赐名“宝筏寺”）。南宋隆兴年间（１１６３—１１６４年），高僧德崇用多年募化积蓄，在“古义阡寺”原址上重建。明洪武年间（１３６８—１３９８年），达妙法师对其进行扩建。</p>
            <p>明万历年间（１５７３—１６２０年），“状元宰相”李春芳为“观音阁”题写碑文《观音阁碑记》。</p>
            <p>清乾隆五十三年（１７８８年），住持增融法师集资扩建“观音阁”。</p>
            <p>扩建后的“观音阁”圆通殿高２０米，翘角飞檐，十分雄伟壮观。殿内一尊雕塑的立式丈六观世音塑像，通身刻有以无数微型佛像构图的金色千佛衣，形态慈祥，庄严肃穆，为当时江苏地区庙宇中最大的观音像。</p>
            <p>为此，被誉为“佛门汉学家”的震华法师作诗赞叹：“手眼无多佛景千，金容丈六体巍然……三逢十九为佳会，竟日香云护座前。”扬州学派早期代表人物经学家任大椿撰写了一篇《重修观音阁碑记》，作了详细的描述和评价。</p>
            <p>令人遗憾的是，“观音阁”大殿和观世音巨像保存数百年后毁于十年浩劫初期。</p>
            <p>在“观音阁”北侧、兴化砖厂南隅，有一座用巨石堆砌而成的，形状酷似山东曲阜少昊陵的金字塔形高大陵墓。</p>
            <p>墓内安葬着李春芳女儿、国子监监生王之麟之妻李氏。由于这座形制特别的神秘陵墓与众不同，引起邑人的种种臆测，认为此墓主人是明万历皇帝朱翊钧的姑母，故民间盛传此墓是“皇姑坟”，由此派生出“偷龙换凤”的神奇故事。</p>
            <p>直至清代末年，人们编成戏剧《火烧红门寺》。其后，又产生“兴化不唱《红门寺》，盐城不唱《丁黄氏》，南通不唱《杀子报》”的说法。</p>
            <p>“皇姑坟”北侧有２０多处建于明初的古窑遗址，这些砖窑曾为修建兴化砖城及援建南京城烧制了大量优质城墙砖。</p>
            <p>其后数百年间，这些古窑又为兴化城民居及寺庙庵堂的建设作出过巨大贡献。</p>
        </p>
        <p>往事如烟，不堪回首。“银北门”的辉煌历史不仅深藏在老北门人的记忆中，而且还镌刻在至今仍散落在北窑街头巷尾的若干雕刻精巧的石质莲花座、须弥座及石龛构件上。</p>
        <p style="text-align:right;">
            —— <a href="http://blog.sina.com.cn/s/blog_627f3f570101efgn.html">「银北门寻幽」 作者:张从义 张培元 来自:兴化市新闻信息中心 </a>
        </p>

    </div>
        </div>
    </div>
</div>
